@import "./utils/variables";
@import "./utils/modern-normalize";
@import "./utils/visually-hidden";

@import "./base/common";

@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/team";
@import "./components/trainings";
@import "./components/partners";
@import "./components/contacts";
@import "./components/footer";
