.contacts .thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid $main-color;
  border-radius: 10px;
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
}

.contacts--tel__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $primary-text-color;
  transition: color $animation-timing 250ms;
  @media screen and(min-width: 1280px) {
    font-size: 16px;
  }
  &:hover {
    color: $accent-color;
  }
  .contacts--tel__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
