.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-text-color;
  border-bottom: 1px solid $background-color;
  z-index: 3;
}
.header-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 20px;
  @media screen and (min-width: 768px) {
    padding: 5px 40px;
  }
  @media screen and (min-width: 1200px) {
    height: 90px;
    padding: 5px 60px;
  }
}
.header-thumb {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 60px;
  .header-logo {
    display: block;
    position: relative;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    @media screen and (min-width: 1200px) {
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }
    img {
      max-width: 100%;
    }
  }
  .header-name {
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
      position: relative;
      z-index: 3;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: $main-color;
      white-space: nowrap;
    }
  }
}

.header-burger {
  position: relative;
  z-index: 5;
  width: 30px;
  height: 20px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
  span {
    position: absolute;
    background-color: $main-color;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all $animation-timing 250ms;
  }
}
.header-burger::before,
.header-burger::after {
  content: "";
  position: absolute;
  background-color: $main-color;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all $animation-timing 250ms;
}
.header-burger::before {
  top: 0;
}
.header-burger::after {
  bottom: 0;
}
.header-burger.active {
  span {
    transform: scale(0);
  }
}
.header-burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header-burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  overflow: auto;
  background-color: $main-color;
  transition: all $animation-timing 250ms;
  @media screen and (min-width: 1200px) {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
  }
  .header-list {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 20px;
    }
    .header-item {
      margin: 0 0 30px 0;
      text-align: center;
      @media screen and (min-width: 1200px) {
        margin: 0 30px 0 0;
      }
      .header-link {
        font-size: 20px;
        line-height: 24px;
        white-space: nowrap;
        color: $background-color;
        transition: all $animation-timing 250ms;
        &:hover,
        &:focus {
          color: $accent-color;
          text-shadow: $box-shadow;
        }
        @media screen and (min-width: 1200px) {
          font-size: 16px;
        line-height: 20px;
        &:hover,
        &:focus {
          color: $main-color;
          text-shadow: $box-shadow;
        }
        }
      }
    }
  }
}

.header-menu.active {
  display: flex;
  flex-direction: column;
  top: 0;
  padding: 90px 0;
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
}

.contacts-thumb {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  .btn--list {
    position: relative;
    z-index: 3;
    .btn__list--item:not(:last-child) {
      @media screen and (min-width: 1200px) {
        margin-right: 10px;
      }
    }
    .btn {
      color: $main-color;
      background-color: $background-color;
      transition: all $animation-timing 250ms;
      &:hover,
      &:focus {
        color: $background-color;
        background-color: $accent-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      }
      @media screen and (min-width: 1200px) {
        color: $background-color;
        background-color: $main-color;
        &:hover,
        &:focus {
          color: $main-color;
          background-color: $background-color;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  .contacts-list {
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}
