.hero.section {
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
  padding-top: 90px;
  }
}
.slider {
  overflow: hidden;
  width: 100%;
  
}

.slider-line {
  display: flex;
  transition: all $animation-timing 500ms;
}