.partners.section {
    background-color: $primary-text-color;
    .partners-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        @media screen and (min-width: 768px) {
            gap: 40px;
          }
        .partners-item {
            border-radius: 10px;
            overflow: hidden;
            flex-basis: calc((100% - 40px) / 3);
            @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 120px) / 4);
              }
            @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 280px) / 8);
              }
          .partners-logo {
            display: block;
            width: 100%;
            margin: 0 auto;
          }
        }
      }
}