.team.section {
    padding-bottom: 0;
}

.team--list {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team--list__item {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 40px;
  border: 2px solid $main-color;
  border-radius: 10px;
  @media screen and (min-width: 768px){
    padding: 40px 0;
    width: 50%;
  }
  @media screen and (min-width: 1280px){
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 26px;
  padding: 60px 0;
  }
}

.team--name {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  @media screen and (min-width: 1280px){
    margin-bottom: 20px;
  }
}

.team--img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto;
  @media screen and (min-width: 1280px){
  margin-bottom: 20px;
  }
}

.team--text {
  padding: 0 20px;
  @media screen and (min-width: 768px){
    padding: 0 40px;
  }
}
