/* ЗАГАЛЬНІ СТИЛІ */
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text-color;
  background: $background-color;
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1400px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.4);
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 80px 0;
  }
} 

.section-title {
  margin-bottom: 40px;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $main-color;
}

.coloured {
  background: white;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 60px;
  }
}

.simple-text {
  text-align: center;
}

.btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 50%;
  color: $background-color;
  transition: box-shadow $animation-timing 250ms, background-color $animation-timing 250ms;
}

.btn--list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn--list__item:not(:last-child) {
  margin-right: 20px;
}


.btn {
  background: $main-color;
}

.btn:hover,
.btn:focus {
  background-color: $accent-color;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

