$main-color: #857e37;
$background-color: #bdbdbd;
$primary-text-color: #454545;
$accent-color: #554f05;

$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);

%flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
