// Colors
$main-color: #867f37;
$background-color: #c8c8c8;
$primary-text-color: #4a4a4a;
$accent-color: rgb(49, 46, 12);
$telegram-color: #376a9d;
$instagram-color: #5c235a;

//Animation
$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
